* {
  margin: 0;
  padding: 0; }

.swiper-container {
  height: 150px; }

div.swiper-slide-next {
  color: pink; }
  div.swiper-slide-next p {
    font-size: .32rem;
    margin-top: -.04rem; }

.lrc p {
  font-size: .24rem; }
