.list li {
  list-style: none;
  background: gray;
  font-size: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .2rem .1rem;
  padding: .2rem;
  border-radius: .5rem; }

.list li.active {
  background: lightpink; }

.list li > span:nth-child(2) {
  width: 2.5rem; }

.list div {
  flex: 1; }
  .list div span {
    width: .6rem;
    height: 0.6rem;
    display: inline-block;
    border: 1px solid lightslategrey;
    text-align: center;
    line-height: .6rem;
    margin: 0 .1rem; }
