*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.swiper img{
    width: 100%
}
.index-page{
    height: 100%;
    overflow-y: scroll;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        flex: 1;
        text-align: center;
    }
    span{
        font-size: .28rem
    }
    span:nth-child(2):after{
        content: 'v';
        display: inline-block;
    }
    img{
        width: .4rem;
        height: .56rem;
    }
}
nav{
    height: .84rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>div{
        flex: 1;
        overflow-x: scroll;  
        height: 100%;
        div{
            height: 100%;
            display: flex;
            span{
                font-size: .24rem;
                margin: 0 .1rem;
                flex-shrink: 0;
                line-height: .84rem
            }
        }
    }
    img{
        height: .84rem;
        width: .84rem;
    }
}
.product{
    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>img{
            width: 2.4rem;
            height: 2.4rem;
            margin: .2rem;
        }
        &>div{
            flex: 1;
            margin: .1rem 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            p:nth-child(1){
                font-size: .32rem;
                color:#474425;
            }
            p:nth-child(2){
                font-size: .28rem;
                color:#969696;
            }
            p:nth-child(3){
                font-size: .24rem;
                border: 1px solid rgb(245,159,193);
                color:rgb(245,159,193);
            }
            &>div{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: .9rem;
                p{
                    font-size: .24rem;
                    color:rgb(245,159,193);
                }
                &>div>img{
                    width: .9rem;
                    height: .9rem;
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 1.8rem; 
                    span{
                        font-size: .24rem;
                    }
                } 
            }
        }
    }
    i{
        width: .44rem;
        height: .44rem;
        border: 1px solid #f59fc1;
        border-radius: 50%;
        font-size: .6rem;
        display: inline-block;
        font-style: normal;
        color: #f59fc1;
        line-height: .36rem;
        text-align: center;
    }
}