.index {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .index > div {
    flex: 1;
    overflow: scroll; }
  .index span.active {
    color: #f60; }

.ant-spin-nested-loading {
  height: 100%; }
