* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #FFF;
}
#root{
  display:flex;
  flex-direction: column;
}
header{
  height:50px;
}
section{
  flex:1;
}
