*{
    margin: 0;
    padding: 0;
}
.music{
    ul{
        list-style: none;
    }
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(2){
            font-size: 20px;
            font-weight: 500;
            margin: 10px 0;
        }
        img{
            width: 200px;
            border-radius: 50%;
            animation: rotate 1s linear infinite;
            animation-play-state: paused;
        }
        img.active{
            animation-play-state: running;
        }
        @keyframes rotate {
            0%{
                transform: rotate(0)
            }
            100%{
                transform: rotate(360deg)
            }
        }
        button{
            width: 100px;
            border: none;
            height: 30px;
            border-radius: 50px;
            background: lightsalmon;
            margin: 0 10px;
            outline: none;
        }
    }
    .progress{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
        &>div{
            height: 3px;
            width: 200px;
            // background: #c0c0c0;
            margin: 0 10px;
            padding: 10px 0;
        }
        div div{
            position: relative;
            width: 100%;
            height: 3px;
            background: #c0c0c0;
        }
        div span{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: lightcoral;
        }
    }
    .action{
        margin: 20px 0;
    }
    li{
        height: 80px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #000;
        img{
            width: 60px;
            border-radius: 50%;
        }
        div{
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            box-sizing: border-box;
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;
            font-size: 12px;
        }
        div p:nth-child(1){
            overflow: hidden;
            text-overflow:ellipsis;//文本溢出显示省略号
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    li.active{
        background: #efefef;
    }
}