body{
    font-size: .18rem;
}
section{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section  div{
    flex: 1;
    margin-left: .5rem;
}
section div span{
    border: 1px solid #000;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 10px;
}
section div span.active{
    background: lightcoral;
}
.snow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes flow{
    0%{
        trasform: translate3d(0,0,0)
    }
    100%{

        transform: translate3d(0, calc(100vh), 0)
    }
}
.snow p{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    font-size: .3rem;
    color: palevioletred;
    /* transform: translate3d(0,0,0); */
}