.header{
    position: fixed;
    height: 30px;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    a{
        color: #000;
        margin: 0 30px;
    }
    .active{
        color: lightseagreen;
    }
}