html, body, #root, #root > div {
  height: 100%; }

* {
  padding: 0;
  margin: 0; }

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .home footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
