@charset "UTF-8";  
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size:.14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

ul, li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img, div, body, html, ul, li, a {
  -webkit-touch-callout: none;
 }

input, button {
  outline: 0;
  display:box;
  line-clamp:2;
  word-break:break-all;
  overflow:hidden;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999; 
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
@mixin num($w,$h){
    width:$w;
    height:$h;
}
html,body,#root{
    @include num(100%,100%);
}
.wode{
    @include num(100%,100%);
}
.wode-login{
    @include num(94%,1.4rem);
    margin: 0 3%;
    background: #fff;
    box-shadow: 0 0 18px #ccc;
    .login-top{
        @include num(100%,.7rem);
        text-align: center;
        span{
            color:#000;
        }
        span:nth-child(1){
            display: inline-block;
            @include num(.4rem,.4rem);
            border-radius: 50%;
            overflow: hidden;
            margin: .14rem 0;
            vertical-align: middle;
            &>img{
                width: 100%;
            }
        }
        span:nth-child(2){
            margin: 0 8%;   
            font-size: .18rem;
        }
    }
    .login-bottom{
        @include num(100%,.7rem);
        display: flex;
        align-items: center;
        li{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-size: .16rem;
                color:#000;
                i.icon{
                    color:red;
                 }
            }
            b{
                color:#989898;
                padding: .02rem 0;
                font-weight: 500;
            }
        }
    }
}
.login-list{
    @include num(100%,2rem);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: .1rem 0;
    li{
        @include num(30%,1rem);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        i.icon{
            font-size: .38rem;
            color:#22C47E;
        }
        b{
            font-size: .16rem;
            font-weight: 500;
            color:#000;
        }
    }
}
.login-bot{
    @include num(100%,auto);
    padding: 0 3%;
    h3{
        @include num(100%,.5rem);
        line-height: .5rem;
        text-align: center;
        span{
            font-size: .16rem;
            padding: 0 .2rem;
            vertical-align: middle;
            color:#000;
        }
    }
    .login-text{
        @include num(100%,auto);
        h2{
            width: 100%;
            height: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                font-size: .14rem;
                color:#000;
            }
            b{
                display: flex;
                justify-content: space-between;
                flex-basis: .8rem;
                i.icon{
                    font-size: .24rem;
                    color:#000;
                }
            }
        }
        li{
            width: 100%;
            height: 1rem;
            padding: .05rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            dl{
                width: 100%;
                height: 100%;
                display: flex;
                overflow: hidden;
                dt{
                    width: 1rem;
                    height: 1rem;
                    img{
                        width: 100%;
                    }
                }
                dd{
                    padding-left:.1rem; 
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    font-size: .18rem;
                    span{
                        font-size: .16rem;
                        color:#000;
                    }
                    b{
                        font-weight: 500;
                        color:#808080;
                    }
                }
            }
            i.icon{
                font-size: .22rem;
            }
        }
    }
}
.wode-iscroll{
    width: 100%;
    position: relative;
}