.hot header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: .88rem;
  width: 100%; }
  .hot header .active {
    color: pink;
    border-bottom: 1px solid pink; }

.hot section {
  margin-top: .88rem; }

.current .swiper-container img {
  width: 100%;
  margin-top: -.9rem; }

.current .swiper-container span {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: inline-block;
  background-position: 50%; }

.current .swiper-slide {
  height: 3rem;
  overflow: hidden; }

.current section img {
  width: 1.5rem; }
