.cart .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-top: 15px;
  background: lightcoral;
  color: #fff; }
