.list{
    p{
        font-size: .28rem;
        line-height: .4rem;
        background: #f4f4f4;
        padding-left: .3rem;
        color: #aaa;
    }
    ul{
        margin: 0 .3rem;
        list-style: none;
    }
    li{
        height: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        span{
            font-size: .32rem;
            margin-left: .4rem;
            vertical-align: 80%;
        }
    }
    img{
        height: .8rem;
    }
}
.wrap{
    height: 100%;
    overflow-y: scroll;
}