*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
}

li{
    background: #c0c0c0;
}
li.active{
    background: #fff;
}
.index{
    display: flex;
    align-items: center;
    justify-content: space-between;
}