body {
  background: #fff; }

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px; }
  .item > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
