*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#root{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>div{
        flex: 1;
        background: lightcoral;
    }
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
a{
    text-decoration: none;
    color: #000;
}
.active{
    color: lawngreen;
}