.recommend .swiper-container img {
  width: 100%; }

.recommend h3 {
  margin-left: 3%;
  margin-bottom: .1rem;
  font-size: .3rem;
  font-weight: 400; }

.recommend .radio {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .recommend .radio a {
    margin: 0 3%; }
  .recommend .radio img {
    width: 100%; }
  .recommend .radio p {
    font-size: .3rem; }
